@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    position: relative;
    background-image: url("https://images.pexels.com/photos/1181408/pexels-photo-1181408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}