@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.hero {
    position: relative;
    background-image: url("https://images.pexels.com/photos/1181408/pexels-photo-1181408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.second-bg {
    @apply bg-[#f6f4ff]
}

.slick-prev:before {
    color: red;
}

.slick-next:before {
    color: red;
}